.container{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.product-pg{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 2rem;
}
.product-image{
    height: auto;
}
.product-image img{
    width: 100%;
    object-fit: contain;
} 
.product-desc{
    padding: 0 2rem 2rem;
}

.cont{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.cont .phone{
    padding: .5rem;
}

@media screen and (max-width: 767px){
    .product-image{
        margin-top: 0;
        padding: 2rem 2rem 0 2rem;
    }
    .ban{
        display: none;
    }
    .product-pg{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-gap: .1rem;
    }
    .cont{
        display: block;
        justify-content: right;
    }
}

@media screen and (min-width: 767px){
    .ban{
        padding: 1rem;
        border-radius: .2rem;
        width: 100%;
        background-color: #cfcece;
    }
}

.phone .btn{
    background-color: #adceaa;
    color: #ffffff;
}
.empty{
    margin: 0 auto;
    font-size: 1rem;
}
.empty p{
    color: #b90b0b;
}
.empty span{
    font-size: 1.5rem;
}