{% extends 'tomhealth/layout.html' %}
 
{% load static %}

{% block content %}
    <div class="container body-container body-grid">
        <div class="ban">
            <a href="{% url 'index'%}">Home</a> / {{products.product_category}} / {{products.name}}
        </div>
        <div class="product-pg">
            <div class="product-image">
                <img src="{{ products.imageUrl }}" alt="">
            </div>
            <div class="product-desc">
                <h4>{{products.name}}</h4>
                <p>{{products.description}}</p>
                <div class="cont">
                    <div class="phone">
                        <a href="tel:+254700304978">
                            <i class='bx bxs-phone bx-flip-horizontal contact-icons icon' style='color:#ffffff;background-color: #0a0000;'></i>
                            0700000000
                        </a>
                    </div>
                    <div class="phone">
                        <a href="https://wa.me/+254700304978?text=I'm%20interested%20in%20{{product.name}}%20Can%20I%20get%20one?">
                            <i class='bx bxl-whatsapp bx-flip-horizontal contact-icons icon' style='color:#ffffff;background-color: #07971d;'></i>
                            Whatsapp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}